// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.container {
	@include center-block;
	padding-right: $size__site-left-right-padding;
	padding-left: $size__site-left-right-padding;

	@media screen and (max-width: 767px) {
	    width: 98%;
	    width: calc(100% - 10px);
	}

	@media screen and (min-width: 768px) {
		width: 750px;
	}

	@media screen and (min-width: 992px) {
		width: 970px;
	}

	@media screen and (min-width: 1200px) {
		width: 1170px;
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
