@import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.site-content {
	padding: 20px 0px 30px;
}

.container {
	@include center-block;
	padding-right: $size__site-left-right-padding;
	padding-left: $size__site-left-right-padding;

	@media screen and (max-width: 767px) {
		width: 98%;
		width: calc(100% - 10px);
	}

	@media screen and (min-width: 768px) {
		width: 750px;
	}

	@media screen and (min-width: 992px) {
		width: 970px;
	}

	@media screen and (min-width: 1200px) {
		width: 1170px;
	}
}

.site-footer {
	padding: 50px 0;

	background: #f5f5f5;
	color: #666;
	text-align: center;

	.ezoic-ad {
		margin-bottom: 25px;
	}

	.site-info {
		&.site-info-left {
			text-align: left;
		}
		&.site-info-right {
			text-align: right;
		}

		@media screen and (max-width: 960px) {
			&.site-info-left, &.site-info-right {
				text-align: center;
			}
		}
	}
}


/* Donation Banner */
$header_donation_banner_close_button_offset: 20px;

.tsd-donate-header {
	background: #eee;
	padding: 20px;
	text-align: center;
	font-family: 'PT Serif', serif;

	.tsd-donate-header-close {
		position: absolute;
		right: $header_donation_banner_close_button_offset;
		// We don't need top here, because we need the position to be relative to .tsd-donate-header instead of the whole page.
		color: black;
		z-index: 990;	// So that it can be clicked
	}

	.tsd-button, .tsd-select {
		margin-top: 10px;
	}
}

@media screen and (max-width: $size__break-mobile) {
	.tsd-donate-header {
		// To make the banner below the .site-branding fixed bar on smaller screens.
		margin-top: $mobile_top_sticky_bar_height;

		// To offset .site-content's margin-top
		margin-bottom: -$mobile_top_sticky_bar_height;

		.tsd-donation-form {
			margin-top: 5px;
		}
	}
}
@media screen and (max-width: $size__break-phone) {
	.tsd-donate-header {
		padding: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		.tsd-donate-header-close {
			right: 10px;
		}
		button[type=submit] {
			width: 50%;
			padding: 0;
		}

		.tsd-donation-form {
			margin-top: 0;
		}
		.tsd-button, .tsd-select {
			margin-top: 0;
		}

		h3 {
			font-size: 15px;
		}
		.tsd-button, .tsd-select, .checkbox {
			font-size: 12px;
		}
	}
}

.tsd-donation-form-recurring {
	display: none;
}


/* "Send us tips" widget */
.tsd-sidebar-tips-container {
	padding: 20px;
	background: $color__cardinal-red;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 5px;
	input, textarea {
		padding: 10px;
		width: 100%;
	}
	h3 {
		color: white;
		text-transform: uppercase;
	}
	input[type=submit] {
		border: 1px solid white;
		margin-top: 20px;
	}
}

.tsd-tips-toggle {
	line-height: 52px;
	background: $color__cardinal-red;
	color: white !important;
	padding: 0px 20px;

	@media screen and (max-width: $size__break-mobile) {
		display: none !important;
	}
}

.tsd-tips-toggle-mobile {
	display: none;
	background: $color__cardinal-red;
	height: 100%;
	line-height: $mobile_top_sticky_bar_height;
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	@media screen and (max-width: $size__break-mobile) {
		display: block !important;
	}
	@media screen and (max-width: $size__break-phone) {
		padding: 0 5px;
		line-height: 45px;
		i {
			display: block;
			margin-top: -10px;
		}
	}
}

.tsd-tips-expanded {
	display: none;
	width: 350px;
	max-width: 100%;
	position: absolute;
	top: 52px;
	right: 0;
	z-index: 9999999;
}

.tsd-shown-sm {
	display: none;
}

@media only screen and (max-width: 768px) {
	.tsd-hidden-sm {
		display: none;
	}
	.tsd-shown-sm {
		display: block;
	}
	.tsd-tips-toggle > div {
		padding: 10px 20px !important;
	}
}

.ezoic-ad {
	width: 100%;
}

/*--------------------------------------------------------------
## Home page
--------------------------------------------------------------*/
@import "primary/home";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
