[submodule "wp-content/plugins/wp-libre-form"]
	path = wp-content/plugins/wp-libre-form
	url = https://github.com/libreform/wp-libre-form.git
	branch = master
[submodule "wp-content/plugins/tsd-push-notification"]
	path = wp-content/plugins/tsd-push-notification
	url = https://github.com/TheStanfordDaily/tsd-push-notification.git
	branch = master
[submodule "wp-content/plugins/accelerated-mobile-pages"]
	path = wp-content/plugins/accelerated-mobile-pages
	url = https://github.com/ahmedkaludi/accelerated-mobile-pages.git
	branch = master
[submodule "wp-content/themes/thestanforddaily"]
	path = wp-content/themes/thestanforddaily
	url = https://github.com/TheStanfordDaily/tsd-wp-theme.git
	branch = master
