.tsd-excerpt-container-small {
	article {
		display: flex;
	}
	.excerpt-thumb {
		float: none;
		max-width: 130px;
		flex: 1;
		.thumbnail-container {
			height: 100%;
			height: 100px;
		}
	}
	.excerpt-content {
		flex: 1;
		.entry-title {
			font-size: 15px;
			margin-bottom: 2px;
		}
		.entry-summary {
			display: none;
		}
		.entry-meta {
			.byline, .posted-on {
				display: block;
			}
			.tsd-excerpt-byline-dash {
				display: none;
			}
			.entry-meta-comment {
				display: none;
			}
		}
	}
}

.tsd-excerpt-container-textonly {
	.excerpt-thumb {
		display: none;
	}
	.excerpt-content {
		flex: 1;
		.entry-title {
			font-size: 15px;
			margin-bottom: 2px;
		}
		.entry-summary {
			display: none;
		}
		.entry-meta {
		}
	}
}

.row.tsd-block-title {
	border-bottom: 1px solid #ddd;
	padding: 0;
	margin-top: 20px;
	h3 {
		background: #aa0000;
		color: white;
		padding: 10px 15px;
		font-size: 17px;
		font-weight: bold;
		margin: 0;
		display: inline-block;
	}
}

.row.tsd-block {
	margin-top: 10px;
}

.tsd-home-main {

}
