.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.entry-title {
	font-family: Libre Baskerville;
	font-weight: 700;
	font-size: 3em;
	line-height: 1.15;
	margin: 0 0 .4em;
	letter-spacing: -.04em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	p {
		font-family: PT Serif;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
