$font__main: Open Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$font__code: Lucida Console, Monaco, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
