/** Color **/
.entry-header .jeg_post_meta .fa, .jeg_post_meta .fa {
	color: inherit !important;
}

/** Header **/

/** Menu **/

/** Video Player **/

/** Block **/
.jeg_breakingnews_title {
    font-size: 12px;
    letter-spacing: normal;
}

.jeg_hero_style_1 .jeg_thumb a > div:before {
	opacity: .35;
}

.jeg_pl_lg_4 .jeg_post_title {
	line-height: 1.25;
}


@media only screen and (min-width:1025px) {
	.jeg_heroblock_1 .jeg_hero_item_1 .jeg_post_title, .jeg_heroblock_2 .jeg_hero_item_1 .jeg_post_title, .jeg_heroblock_3 .jeg_hero_item_1 .jeg_post_title, .jeg_heroblock_4 .jeg_hero_item_1 .jeg_post_title, .jeg_heroblock_5 .jeg_hero_item_1 .jeg_post_title, .jeg_heroblock_9 .jeg_post_title {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.jeg_pl_lg_4 .jeg_post_title {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.jeg_pl_md_1 .jeg_post_title {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.vc_col-sm-3 .jeg_pl_sm .jeg_thumb {
		width: 100px;
	}
	.vc_col-sm-3 .jeg_pl_sm .jeg_postblock_content {
		margin-left: 100px;
	}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	.vc_col-md-6 .jeg_pl_lg_4 .jeg_post_title {
		font-size: 24px;
	}
	.vc_col-md-6 .jeg_pl_md_2 .jeg_thumb,
	.vc_col-md-6 .jeg_pl_md_3 .jeg_thumb {
		width: 180px
	}
	.vc_col-md-6 .jeg_pl_md_2 .jeg_thumb {
		margin-right: 15px;
	}
	.vc_col-md-6 .jeg_pl_md_3 .jeg_thumb {
		margin-left: 15px;
	}
	.vc_col-md-6 .jeg_pl_md_1 .jeg_post_title {
		font-size: 16px;
	}

	.vc_col-sm-3 .jeg_pl_sm .jeg_thumb,
	.vc_col-md-3 .jeg_pl_sm .jeg_thumb {
		width: 80px;
	}

	.vc_col-sm-3 .jeg_pl_sm .jeg_postblock_content,
	.vc_col-md-3 .jeg_pl_sm .jeg_postblock_content {
		margin-left: 80px;
	}

	.vc_col-sm-3 .jeg_pl_sm .jeg_post_meta,
	.vc_col-md-3 .jeg_pl_sm .jeg_post_meta {
		display: none;
	}

	.vc_col-md-3 .popularpost_item:first-child .jeg_post_title {
		font-size: 15px;
		line-height: 1.4;
		padding-right: 40px;
		margin-top: 10px;
	}

	.vc_col-md-3 .popularpost_item:first-child .jeg_post_title a:before,
	.popularpost_item:first-child:hover .jeg_post_title a:before {
		font-size: 26px;
		width: 30px
	}

}

@media only screen and (max-width:767px) {
}

@media only screen and (max-width:480px) {
}