/** Header **/

/** Menu **/
.jeg_main_menu > li > a {
	text-transform: none;
}
/** Video Player **/

/** Block **/
.jeg_block_heading_8 .jeg_block_title {
	font-size: 22px;
}
.jeg_blocklink .jeg_block_content a {
    background: transparent;
    box-shadow: none;
    padding: 0;
}
.jeg_blocklink .jeg_block_content h3 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -.02em;
    color: #fff;
}
.jeg_blocklink .jeg_block_content:before {
    background: #000;
    opacity: .2;
}
.jeg_blocklink:hover .jeg_block_content:before {
	opacity: .65;
}
.jeg_pl_md_box .jeg_post_title {
	font-weight: bold;
}

.entry-header .jeg_meta_author a,
.jeg_meta_author a {
	color: #1e1926;
}
.jeg_post_meta .fa {
    color: inherit !important;
}


/** Post **/
.content-inner {
	color: #222;
}
.entry-content blockquote,
.entry-content q {
	color: #1e1926;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-style: normal;
}

/** Archive **/

/** Widget **/
.widget .mc4wp-form, .jeg_sidebar .mc4wp-form {
	background: transparent;
	border-width: 5px;
	border-radius: 5px;
	padding: 30px;
	text-align: center;
}
.widget .mc4wp-form input, .jeg_sidebar .mc4wp-form input {
	text-align: center;
}
.widget .mc4wp-form h3, .jeg_sidebar .mc4wp-form h3 {
	font-size: 19px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

/** Footer **/
.footer_logo {
	margin-bottom: 10px;
}

/*fallback section - home 2*/
.vc_custom_1500356260451{margin-top: -100px !important;margin-bottom: 40px !important;padding-top: 115px !important;padding-bottom: 15px !important;background-color: #f5f5f5 !important;}

/** Custom Class **/
@media (min-width: 768px) {
	.vc_general.vc_cta3 {
		background-position: center center !important;
	}
	.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3_content-container {
		width: 100%;
		display: table;
	}
	.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-content {
	    width: 80%;
	}
	.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-actions {
		width: 20%;
	}
	.vc_general.vc_cta3 {
		padding: 30px 35px;
	}
	.vc_btn3.vc_btn3-size-md {
		font-size: 15px;
		padding: 14px 35px;
	}
}
