.tsd-sidebar-tips-container {
    padding: 20px;
    background: #aa0000;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 5px;
}

.tsd-sidebar-tips-container h3 {
    color: white;
    text-transform: uppercase;
}

.tsd-sidebar-tips-container input[type=submit] {
    border: 1px solid white;
    margin-top: 20px;
}