.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;

	@media screen and (max-width: $size__break-mobile) {
		float: none;
		margin: 0 auto;
	}
}

.site-main {
	margin: 0 $size__site-sidebar+5% 0 0;

	@media screen and (max-width: $size__break-mobile) {
		margin: 0 auto;
	}
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;

	@media screen and (max-width: $size__break-mobile) {
		float: none;
		width: $size__site-main;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

@import "no-sidebar";
